
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Retiré kont lan </h4>
      </div>
      <div class="modal-body">
		 <div class="form-group row">    
            <label class="form-label col-md-12">Eske ou vreman vle retiré kont lan? </label>
		 </div>
         <div class="form-group row">    
            <label class="form-label col-md-4">Kont pou</label>
			<div class="col-md-8">
				{{entity.email}}
				<input data-ng-model="entity.userId" type="hidden" />
			</div>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="closeModal()">Anile</button>
        <button type="button" class="btn btn-primary btn-danger" 
		data-ng-click="deleteUser()">Anrejistre <i class="fa fa-arrow-circle-right"></i></button>
      </div>
    </div>