<div id="territory-details-data" class="row m-t">
    <div class="col-lg-12">
		<div class="pull-right">
			<div class="col-md-12">
            	<a href="{{ territory.mapLink }}" class="btn btn-info">Kat jeyografik</a>
				<a ng-show="isAdmin" href="{{ territory.pdfLink }}" target="_blank" class="btn btn-success">PDF</a>
			</div>
        </div>
	    
        <h3>Teritwa <strong  class="badge big">{{ territory.number }}</strong></h3>
		<p>{{ territory.location }}, {{ territory.cityState }}</p>
		
		<div class="m-t m-b" ng-show="isManager">
			<span ng-show="territory.publisher">Asiyé a </span>
			<span class="label label-default normal-size" ng-hide="territory.publisher">Pa asiyé </span>
			<label class="label label-success normal-size" ng-show="territory.publisher">
				<a href="{{ territory.publisher.urlLink }}">
				<strong ng-bind="territory.publisher.firstName"></strong> 
				<strong ng-bind="territory.publisher.lastName"></strong>
				</a>
			</label>
		</div> 
		
		<div class="row" ng-show="isManager">
			<div class="checkbox">
			    <label>
					<input type="checkbox" class="js-switch" ng-model="updateChecked"> &nbsp; Chanjé adrès teritwa a 
			    </label>
			</div>
		</div>

		<div class="row animate-show" ng-show="updateChecked">
			<hr />
			<div class="row"> 
				<div class="col-md-6 col-sm-6 col-xs-12">
	                <label class="form-label col-md-4">Adrès</label>
					<div class="col-md-8">
	                	<input data-ng-model="territory.location" type="text" placeholder="Adrès" class="form-control" />
					</div>
					<br />
	             </div> 
	            
	            <div class="col-md-4 col-sm-6 col-xs-12">
	                <label class="form-label col-md-4">City and State</label>
					<div class="col-md-8">
	                	<input data-ng-model="territory.cityState" type="text" placeholder="City and State" class="form-control" />
					</div>
					<br />
	            </div> 
              
	            <div class="col-md-2 col-sm-6 col-xs-12">
                	<button id="submitTerritory" class="btn btn-primary pull-right m-r" type="button" data-ng-disabled="!territory.location" data-ng-click="updateTerritory()">Anrejistre <i class="fa fa-check-circle"></i></button>
                </div>
            </div>
        </div>

		<hr />
		
		<div class="row" ng-show="isEditor">
			<div class="checkbox">
			    <label>
					<input type="checkbox" class="js-switch" ng-model="addChecked"> &nbsp; Mete yon nouvo adrès
			    </label>
			</div>
		</div>
	
		<div ng-show="addChecked">
           	<div class="row">
	            <div class="col-xs-12 m-b">
	               	<label class="form-label col-md-12"><h4>Mete yon nouvo adrès</h4></label>
					<div class="col-md-12">
						<p>Please enter house number in abbreviated format i.e. (201, APT 305)<br>
							Select street or add new street, if not available. <br>
							For apartment buildings, please select "Apartment".
							Do not select "Apartment" for duplex or alphabetical letters (A, B, C...), instead enter "Door". 
						</p>
					</div>
					
	            </div>
           	</div> 
           	<div class="row">    
	            <div class="col-md-4 col-sm-6 col-xs-12">
	               <label class="form-label col-md-4"> Nom </label>
					<div class="col-md-8">
	 			    	<input data-ng-model="newAddress.name" type="text" placeholder="Nom" class="form-control" />	 
	            	</div>
					<br>
				</div>
	            <div class="col-md-4 col-sm-6 col-xs-12">
	                <label class="form-label col-md-4"> Adrès </label>
					<div class="col-md-8">
	 			    	<input data-ng-model="newAddress.address" type="number" placeholder="Adrès" class="form-control" />	 
	            	</div>
					<br>
				</div>
	            
				<div class="col-md-4 col-sm-6 col-xs-12">
	                <label class="form-label col-md-4"> Duplex (Pòt) </label>
					<div class="col-lg-8">
	 			    	<input data-ng-model="newAddress.apt" type="text" placeholder="Duplex (Pòt)" class="form-control" />	 
	            	</div>
	            	<span class="help-block m-l">For duplex or alphabetical letters (A, B, C...)</span>
					<br>
				</div> 
			</div>
			<br /> 
			 
          	<div class="row">	
	          	<div class="col-md-4 col-sm-6 col-xs-12">
					<label class="form-label col-md-4"> Apatman </label>
					<div class="col-md-8">
					    <label>
							<input type="checkbox" class="js-switch yn" ng-model="newAddress.isApt" ng-class="{active: newAddress.isApt == 1}"> 
					    </label>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 is-street" ng-hide="newAddress.isApt"> 	
	                <label class="form-label col-md-4"> Rue </label>
					<div class="col-md-8">
	 			    	<select name="street" ng-model="newAddress.street" placeholder="Rue" class="form-control">    
							<option value="">Chwazi rue</option>
		                    <option ng-repeat="n in territory.streets" value="{{n}}">{{n}}</option>
		                    <option value="new-street">Mete yon nouvo rue</option>
						</select>	 
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 is-street new-street" ng-show="newAddress.street=='new-street' && newAddress.isApt != 1"> 	
	                <label class="form-label col-md-4">Nouvo rue</label>
					<div class="col-md-8">
	 			    	<input ng-model="newAddress.newStreet" type="text" placeholder="Nouvo rue" class="form-control" />
	            	</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 is-apt" ng-show="newAddress.isApt"> 	
	                <label class="form-label col-md-4"> Building </label>
					<div class="col-md-8">
	 			    	<select name="building" ng-model="newAddress.building" placeholder="Building" class="form-control">    
							<option value="">Chwazi yon building</option>
		                    <option ng-repeat="n in territory.buildings" value="{{n}}">{{n}}</option>
		                    <option value="new-building">Mete yon nouvo building</option>
						</select>	 
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 is-apt new-building" ng-show="newAddress.building=='new-building' && newAddress.isApt"> 	
	                <label class="form-label col-md-4">Nouvo building</label>
					<div class="col-md-8">
	 			    	<input ng-model="newAddress.newBuilding" type="text" placeholder="Nouvo building" class="form-control" />
	            	</div>
				</div>
          	</div>
			<br /> 
          	<div class="row">  
	          	<div class="col-md-4 col-sm-6 col-xs-12">
	                <label class="form-label col-md-4"> Telefòn </label>
					<div class="col-md-8">
	 			    	<input data-ng-model="newAddress.phone" type="text" placeholder="Telefòn" class="form-control maskPhone" />	 
	            	</div>
				</div>
	            <div class="col-md-4 col-sm-6 col-xs-12">
	                <label class="form-label col-md-4"> Nòt </label>
					<div class="col-md-8">
	 			    	<input data-ng-model="newAddress.notes" type="text" placeholder="Nòt" class="form-control" />	 
	           		</div>
					<br>
				</div>
	            <div class="col-md-4 col-sm-6 col-xs-12">
	                <label class="form-label col-md-4"> Dat </label>
					<div class="col-md-8">
	                	<input data-ng-model="newAddress.date" type="date" placeholder="0000-00-00" required  class="form-control date" />
	            	</div>
				</div>
	          
			</div> 
			<br /> 
	        <div class="row">        
	            <div class="col-xs-12">
	                <button id="submitTerritory" class="btn btn-success pull-right m-r" type="button"
	                    data-ng-disabled="!newAddress.address || !(newAddress.street || newAddress.building)"
	                    data-ng-click="addAddress()">Anrejistre <i class="fa fa-check-circle"></i></button>
	            </div>
          	</div>  
        </div>

        <hr />
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
                        Adrès nan teritwa a
                    </div>

					<div class="panel-body">
						<div class="dataTable_wrapper">
							<table class="table table-striped table-bordered table-hover dt-responsive nowrap" cellspacing="0" width="100%" id="dataTables-addresses">
								<thead>
									<tr>
										<th>Nom</th>
										<th class="min-mobile-l">Adrès </th>
										<th class="never">Order</th>
										<th>Telefòn</th>
										<th>Nòt</th>
										<th class="min-mobile-l">Aksyon </th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<hr />
 
		<a id="targetEditAddress" data-toggle="modal" data-target="#editAddress" data-backdrop="static"></a>
		<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="editAddress">
			<div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">Modifye adrès lan</h4>
			      </div>
			      <div class="modal-body">
			         <div class="row">    
			            <div class="form-group col-xs-12">
			               <label class="form-label col-md-4"> Nom </label>
							<div class="col-md-8">
			 			    	<input ng-model="editTerritoryAddress.name" type="text" placeholder="Nom" class="form-control" />	 
			            	</div>
						</div>
					</div>
					<div class="row"> 	
			            <div class="form-group col-xs-12">
			                <label class="form-label col-md-4"> Adrès </label>
							<div class="col-md-8">
			 			    	<input ng-model="editTerritoryAddress.address" type="number" placeholder="Adrès" class="form-control" />	 
			            	</div>
						</div>
					</div>
					<div class="row is-street is-duplex"> 	
			            <div class="form-group col-xs-12">
			                <label class="form-label col-md-4"> Duplex (Pòt) </label>
							<div class="col-md-8">
			 			    	<input ng-model="editTerritoryAddress.apt" type="text" placeholder="Duplex (Pòt)" class="form-control" />	 
			            	</div>
						</div>
					</div>
					<div class="row is-street"> 	
			            <div class="form-group col-xs-12">
			                <label class="form-label col-md-4"> Rue </label>
							<div class="col-md-8">
			 			    	<select name="street" ng-model="editTerritoryAddress.street" placeholder="Rue" class="form-control">    
									<option value="">Chwazi rue</option>
				                    <option ng-repeat="n in territory.streets" value="{{n}}">{{n}}</option>
								</select>	 
			            	</div>
						</div>
					</div>
					<div class="row is-apt"> 	
			            <div class="form-group col-xs-12">
			                <label class="form-label col-md-4"> Building </label>
							<div class="col-md-8">
			 			    	<select name="building" ng-model="editTerritoryAddress.building" placeholder="Building" class="form-control">    
									<option value="">Chwazi building</option>
				                    <option ng-repeat="n in territory.buildings" value="{{n}}">{{n}}</option>
								</select>	 
			            	</div>
						</div>
					</div> 
					<div class="row"> 	
			            <div class="form-group col-xs-12">
			                <label class="form-label col-md-4"> Telefòn </label>
							<div class="col-md-8">
			 			    	<input ng-model="editTerritoryAddress.phone" type="text" placeholder="Telefòn" class="form-control maskPhone" />	 
			            	</div>
						</div>
		          	</div>
					<div class="row" ng-show="isAdmin"> 	
			            <div class="form-group col-xs-12">
			                <label class="form-label col-md-4"> Inaktif </label>
							<div class="col-md-8">
			 			    	<select name="position" ng-model="editTerritoryAddress.inactive" placeholder="Inaktif" class="form-control">    
									<option value="1">Wi</option> 
									<option value="0">Non</option> 
								</select>	
			            	</div>
						</div>
		          	</div>
		          	<div class="row" ng-show="isAdmin"> 	
			            <div class="form-group col-xs-12">
			                <label class="form-label col-md-4"> Coordinates </label>
							<div class="col-md-4">
			 			    	<input ng-model="editTerritoryAddress.lat" type="text" placeholder="Lat" class="form-control" />	 
			            	</div>
			            	<div class="col-md-4">
			 			    	<input ng-model="editTerritoryAddress.long" type="text" placeholder="Long" class="form-control" />	 
			            	</div>
						</div>
		          	</div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Anile</button>
			        <button type="button" class="btn btn-primary btn-info" id="btnUpdateAddress" 
						data-ng-click="updateAddress()">Anrejistre <i class="fa fa-check-circle"></i></button>
			 		<input ng-model="editTerritoryAddress.isApt" type="hidden" />	 
			      </div>
			    </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		
		<a id="targetEditNote" data-toggle="modal" data-target="#editNote"></a>
		<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" id="editNote">
			<div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">Nòt pou adrès lan</h4>
			      </div>
			      <div class="modal-body">
			         <div class="row">    
			            <div class="form-group col-xs-12">
			               <label class="form-label col-md-4"> Nòt </label>
							<div class="col-md-8">
			 			    	<input ng-model="editNote.note" type="text" placeholder="Note" class="form-control" />	 
			            	</div>
						</div>
					</div>
					<div class="row"> 	
			            <div class="form-group col-xs-12">
			                <label class="form-label col-md-4"> Dat </label>
							<div class="col-md-8">
			 			    	<input ng-model="editNote.date" type="date" placeholder="0000-00-00" class="form-control" />	 
			            	</div>
						</div>
					</div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Anile</button>
			        <button type="button" class="btn btn-primary btn-info" id="btnSaveNote" 
			        	data-ng-disabled="!editNote.note" 
						data-ng-click="saveNote()">Anrejistre <i class="fa fa-check-circle"></i></button>
			      </div>
			    </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		 

    </div>
</div>
