
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Retounen teritwa a</h4>
      </div>
      <div class="modal-body">
		 <div class="form-group row">    
            <label class="form-label col-md-12">Eske ou vreman vle retounen teritwa a? <br>
				Anvan w fè sa, ou dwe recevwa kat territwa a e ajoute tout nòt yo.</label>
		 </div>
         <div class="form-group row">    
            <label class="form-label col-md-4"> Nimewo teritwa a </label>
			<div class="col-md-8">
				{{entity.number}}
				<input data-ng-model="entity.territoryId" type="hidden" />
			</div>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="closeModal()">Anile</button>
        <button type="button" class="btn btn-primary btn-danger" 
		data-ng-click="unassignTerritory()">kontinye <i class="fa fa-arrow-circle-right"></i></button>
      </div>
    </div>