
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete publisher account </h4>
      </div>
      <div class="modal-body">
		 <div class="form-group row">    
            <label class="form-label col-md-12">Are you sure you want to completely remove the publisher info? <br>
				This operation can not be reversed.</label>
		 </div>
         <div class="form-group row">    
            <label class="form-label col-md-4">Publisher Name</label>
			<div class="col-md-8">
				{{entity.name}}
				<input data-ng-model="entity.publisherId" type="hidden" />
			</div>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="closeModal()">Cancel</button>
        <button type="button" class="btn btn-primary btn-danger" 
		data-ng-click="deletePublisher()">Continue <i class="fa fa-arrow-circle-right"></i></button>
      </div>
    </div>