<div id="publisher-details-data" class="row m-t">
    <div class="col-lg-12">
        <h3>Publisher <strong>{{ publisher.firstName + ' ' + publisher.lastName }}</strong></h3>

		<div class="row">
			<div class="checkbox">
			    <label>
					<input type="checkbox" class="js-switch" ng-model="updateChecked"> &nbsp; Change Publisher Name
			    </label>
			</div>
		</div>

		<div class="row animate-show" ng-show="updateChecked">
			<hr />
            <div class="col-md-6 col-sm-12">
                <label class="form-label col-md-4">First Name</label>
				<div class="col-md-8">
               		<input data-ng-model="publisher.firstName" type="text" placeholder="First Name" class="form-control" />
				</div>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="col-md-4">Last Name</label>
				<div class="col-md-8">
                	<input data-ng-model="publisher.lastName" type="text" placeholder="Last Name" class="form-control" />
				</div>
            </div>
            <div class="col-sm-12">
                <br />
                <button id="updatePublisher" class="btn btn-primary pull-right m-r" type="button" data-ng-disabled="!publisher.firstName || !publisher.lastName" data-ng-click="updatePublisher()">Update</button>
            </div>
        </div>

		<hr />

		<h4>Assign a New Territory</h4>
		<div class="row">

            <div class="col-md-6 col-sm-12">
                <label class="col-md-4">Territory Number</label>
				<div class="col-md-8">
 				<!--<select name="territories" data-ng-model="newTerritory.terrSelected" placeholder="Territory #" ng-options="terr as terr.terrNumber for terr in territories">-->
	                <select name="territories" data-ng-model="newTerritory.terrSelected" placeholder="Territory #" class="form-control">    
						<option value="">Select Territory</option>
	                    <option data-ng-repeat="territory in territories | orderBy: 'number'" value="{{territory.territoryId}}">{{territory.number}}</option>
					</select>
				</div>	
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="col-md-4"> Date </label>
				<div class="col-md-8">
                	<input data-ng-model="newTerritory.date" type="text" class="form-control date" placeholder="mm-dd-yyyy" required />
				</div>
            </div>
            <div class="col-sm-12">
				<br />
                <button id="submitTerritory" class="btn btn-success pull-right m-r" type="button"
                    data-ng-disabled="!newTerritory.terrSelected || !newTerritory.date"
                    data-ng-click="assignTerritory()">Assign Territory</button>
            </div>
        </div>
        <br /><hr />

		<h4>Territories assigned to this publisher</h4>
        <div class="row">
			<div class="col-md-4 col-sm-6" data-ng-repeat="territory in publisher.territories track by territory.territoryId">
				<div class="panel panel-default">
	            	<div class="panel-heading">
	                	<div class="row">
	                    	<div class="col-xs-8">
	                        	<i class="fa- fa-group- fa-1x"></i>
								<div class="huge-">Territory Number <strong>{{ territory.number }}</strong></div>
	                        </div>
	                        <div class="col-xs-4 text-right">
								<div>Date: {{territory.date}}</div>	
	                        </div>
	                     
	                  		<hr />
	
	                        <a href="#/territories/{{territory.territoryId}}">
	                            <div class="panel-footer">
	                                <span class="pull-left">View Territory  <i class="fa fa-arrow-circle-right"></i></span>
	                                <span class="pull-right">
										<button class="btn close cardClose" data-ng-click="unassignTerritory(territory.territoryId)" title="Unassign Territory">&times;</button>
									</span>
	                                <div class="clearfix"></div>
	                            </div>
							</a>
						</div>
					</div>	
				</div>
			</div>	
        </div>

		<div class="modal fade" id="unassignTerr">
			<div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Unassign This Territory</h4>
			      </div>
			      <div class="modal-body">
			        <p>Are you sure you want to unassign this territory?</p>
					<div id="terr-number"></div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
			        <button type="button" class="btn btn-primary btn-danger" data-ng-click="unassignTerritoryConfirm(confirmUnassign.terrSelected)">Yes, proceed</button>
			      </div>
			    </div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


    </div>
</div>
