
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{Language.translate('Remove Publisher', 'Remove Publisher')}} </h4>
      </div>
      <div class="modal-body">
		 <div class="form-group row">    
            <label class="form-label col-md-12">{{Language.translate('sure_want_remove_publisher', 'Are you sure you want to remove this publisher?')}}</label>
		 </div>
         <div class="form-group row">    
            <label class="form-label col-md-4">{{Language.translate('Publisher Name', 'Publisher Name')}}</label>
			<div class="col-md-8">
				{{entity.name}}
				<input data-ng-model="entity.publisherId" type="hidden" />
			</div>
		</div>
	</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="closeModal()">{{Language.translate('Cancel', 'Cancel')}}</button>
        <button type="button" class="btn btn-primary btn-danger" 
		data-ng-click="deletePublisher()">{{Language.translate('Continue', 'Continue')}} <i class="fa fa-arrow-circle-right"></i></button>
      </div>
    </div>